<!DOCTYPE html>
<html ng-app="resume" ng-controller="resumeController">
<head lang="en">
	<meta charset="UTF-8">
	<title>{{resume.name}}</title>
	<link href="3rd-party/bootswatch.cerulean.min.css" rel="stylesheet" type="text/css">
	<link href="custom.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div class="container">
		<div class="row text-center">
			<personal-info address="resume.address" email="resume.email" phone-number="resume.phoneNumber" name="resume.name"></personal-info>
		</div>
		<div class="row">
			<h3>Objective</h3>
			<hr>
			<p data-ng-bind-html="resume.objective"></p>
		</div>
		<div class="row">
			<h3>Skills</h3>
			<div skill-set data-skills-per-line="6"></div>
		</div>
		<div class="row">
			<h3>Experience</h3>
			<hr>
			<div data-ng-bind-html="resume.projectsHeader"></div>

			<div data-ng-repeat="project in resume.projects">
				<div resume-job data-project="project" data-ng-show="containsActiveSkills(project.skillsUsed)"></div>
			</div>
			<div data-ng-bind-html="resume.projectsFooter"></div>
		</div>
		<div class="row">
			<h3>Education</h3>
			<div data-ng-repeat="edu in resume.education">
				<resume-education edu="edu"></resume-education>
			</div>
		</div>
	</div>

	<!-- load jquery, jquery-transit, angular 1.3.0-beta13, angular-sanitize and underscore from CDN -->
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.transit/0.9.9/jquery.transit.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.13/angular.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular-sanitize.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>

	<!-- Load our custom angular stuff (app, services, controllers, directives) -->
	<script src="app.resume.js"></script>
	<script src="service.resume.js"></script>
	<script src="controller.resume.js"></script>
	<script src="directive.job.js"></script>
	<script src="directive.edu.js"></script>
	<script src="directive.skill.js"></script>
	<script src="directive.personalInfo.js"></script>
</body>
</html>